.profile {
  padding: 19px 30px;
  background-color: #f9fafb;
}

.profile__subtitle {
  margin: 0 0 23px;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 42px;
}

.profile__profile-container {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.profile__avatar {
  height: 132px;
  width: 132px;
}

.profile__user-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.profile__user-name {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.profile__user-about {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.profile__user-about_bold {
  font-weight: 500;
  margin-right: 12px;
}

.profile__achievements {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile__achievements-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.profile__achievements-images {
  display: flex;
  flex-direction: row;
}

.profile__achievements-image {
  height: 90px;
  width: 90px;
}

.profile__skills-title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.profile__skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.profile__skill {
  background-color: #FFF;
  display: flex;
  gap: 16px;
  padding: 8px 12px;
  border: 1px solid #87cc9e;
  border-radius: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.profile__skill-checkmark {
  width: 24px;
  height: 24px;
}

.profile__skill-name {
    padding: 0;
    margin: 0;
}
