.tracker {
  font-family: "YS Display";
  margin: 0 auto;
  padding: 50px 0 92px 32px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}

.tracker__grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Пропорции 2/3 и 1/3 */
  gap: 110px; /* Пример промежутка между столбцами */
}

