.info-tooltip {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 350px;
  height: 104px;
  display: flex;
  background-color: #5A9BFF;
  color: #FFF;
  border-radius: 12px;
}

.info-tooltip__img {
  width: 64px;
  height: 64px;
  margin: 20px 8px 0 24px;
}

.info-tooltip__tittle {
  font-family: YS Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 32px 0 4px;
}

.info-tooltip__paragraph {
  font-family: YS Text;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
