.info-tool-tip {
    width: 350px;
    height: 104px;
    background-color: #5A9BFF;
    border-radius: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    /* Дополнительные стили (можно настраивать по вашему выбору) */
    margin: 20px; /* Добавление отступов для более приятного визуального восприятия */
    z-index: 999; /* Установка z-index для контроля над другими элементами, если это необходимо */
    display: block;
}


.info-tool-tip::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #ACCCFF;
    border-radius: 0 0 12px 12px;
}

.info-tool-tip.visible {
    display: block;
}
