.skills-container {
  font-family: "YS Text";
  max-width: 697px;
  margin: 0 0 40px;
}

.skills-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-container__title {
  font-family: "YS Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.skills-container__list {
  margin: 0 0 12px;
  padding: 0;
  width: 697px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.skills-container__list.animated {
  transition: transform 3s ease-in-out;
}

.skills-container__icon-link {
  height: 12px;
  width: 12px;
  margin-left: 12px;
}

.skills-container__item {
  text-decoration: none;
  padding: 12px 20px;
  border: 1px solid #87cc9e;
  border-radius: 4px;
}

.skills-container__item:hover {
  cursor: pointer;
  background-color: #f7fffa;
}

.skills-container__item.selected {
  border: 1px solid #1a1b22;
}


.skills-container__item-count {
  border: none;
  background: transparent;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.skills-container__item-count:hover {
  cursor: pointer;
}

.skills-container__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.skills-container__buttons_type_none {
  display: none;
}

.skills-container__button {
  background: transparent;
  color: #5a9bff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  outline: none;
  width: 107px;
  height: 24px;
}

.skills-container__button:hover {
  cursor: pointer;
}

.skills-container__button-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.skills-container__button-text_grey {
  color: #B5B5B7;
}

/* Изображение по умолчанию для иконки */
.skills-container__sort-icon {
  width: 24px;
  height: 24px;
  background-image: url("../../images/sortblue.svg");
}

.skills-container__sort-icon-grey {
  width: 24px;
  height: 24px;
  background-image: url("../../images/sort-grey.svg");
}

.skills-container__arrow-icon {
  width: 24px;
  height: 24px;
  background-image: url("../../images/arrow-down-blue.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.skills-container__arrow-icon_grey {
  background-image: url("../../images/arrow-down-grey.svg");
}

.skills-container__arrow-icon-up {
  width: 24px;
  height: 24px;
  background-image: url("../../images/arrow_up_blue.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Изменение цвета текста при наведении на кнопку */
.skills-container__button:hover .skills-container__button-text {
  color: #1d6bf3;
}

/* Изменение изображения при наведении на кнопку */
.skills-container__button:hover .skills-container__sort-icon {
  background-image: url("../../images/sort-dark-blue.svg");
}

.skills-container__button:hover .skills-container__arrow-icon {
  background-image: url("../../images/arrow-down-darkblue.svg");
}

.skills-container__button:hover .skills-container__arrow-icon-up {
  background-image: url("../../images/arrow_up_darkblue.svg");
}



.skills-container__showall-button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  width: 107px;
  height: 24px;
  background-image: url(../../images/showAll.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.skills-container__showall-button:hover {
  cursor: pointer;
}

.skills-container__server-error {
  text-align: center;
  align-self: center;
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}
