.skills-container {
  max-width: 697px;
  margin: 0 0 40px;
}

.skills-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-container__title {
  font-family: YS Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.skills-container__list {
  margin: 0 0 12px;
  padding: 0;
  width: 697px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow: hidden;
}

.skills-container__item {
  text-decoration: none;
  padding: 12px 20px;
  border: 1px solid #87cc9e;
  border-radius: 4px;
}

.skills-container__item:hover {
  cursor: pointer;
  border-color: #87CC9E;
  background-color: #87CC9E;
}

.skills-container__item-small {
  padding: 8px 20px;
  border: 1px solid #dde0e4;
  border-radius: 4px;
  background: #f9fafb;
}

.skills-container__item-small:hover {
  cursor: pointer;
  color: #5A9BFF;
  border-color: #5A9BFF;
}

.skills-container__item-small.selected {
  color: #1D6BF3;
  border-color: #1D6BF3;
}

.skills-container__item-count {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.skills-container__item-count:hover {
  cursor: pointer;
}

.skills-container__buttons {
  display: flex;
  align-items: center;
}

.skills-container__sort-button {
  padding: 0;
  margin: 0 20px 0 0;
  border: none;
  text-decoration: none;
  outline: none;
  width: 107px;
  height: 24px;
  background-image: url(../../images/sortingBase.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.skills-container__sort-button:hover {
 cursor: pointer;
}

.skills-container__showall-button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  width: 107px;
  height: 24px;
  background-image: url(../../images/showAll.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.skills-container__showall-button:hover {
  cursor: pointer;
}
